<div class="container">
    <div class="row">
         <h4 class="col-md-3 mt-4 mb-4">
             <span style="background-color:#dddddd">会員情報編集</span></h4>
         <div class="col-md-10">
             <%= form_with model: @customer, url: customers_information_path, local: true do |f| %>
             <div class="row mb-3">
                 <%= f.label :"氏名", class: "col-md-3" %>
                 <%= f.text_field :last_name, autofocus: true, class: "mr-3" %>
                 <%= f.text_field :first_name, autofocus: true %>
             </div>
             
             <div class="row mb-3">
                 <%= f.label :"フリガナ", class: "col-md-3" %>
                 <%= f.text_field :last_name_kana, autofocus: true, class: "mr-3" %>
                 <%= f.text_field :first_name_kana, autofocus: true %>
             </div>
             
             <div class="row mb-3">
                 <%= f.label :"郵便番号", class: "col-md-3" %>
                 <%= f.text_field :postcode, autofocus: true %>
             </div>
             
             <div class="row mb-3">
                 <%= f.label :"住所", class: "col-md-3" %>
                 <%= f.text_field :address, autofocus: true, class: "col-md-8" %>
             </div>
             
             <div class="row mb-3">
                 <%= f.label :"電話番号", class: "col-md-3" %>
                 <%= f.text_field :phone_number, autofocus: true %>
             </div>
             
             <div class="row mb-3">
                 <%= f.label :"メールアドレス", class: "col-md-3" %>
                 <%= f.email_field :email, autofocus: true %>
             </div>
             <div class="row">
                 <div class="col-md-3 mt-3 mb-5">
                     <%= f.submit "編集内容を保存", class: "btn btn-outline-success" %>
                 </div>
                 <div class="col-md-5 offset-md-2 mt-3 mb-5">
                     <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-outline-danger" %>
                 </div>
             </div>
             <% end %>
         </div>
    </div>
</div>