<div class="container">
    <div class="row">
        <h4 class="text-center mt-4 mb-5">
            <span style="background-color:#dddddd">マイページ</span>
        </h4>
    </div>
    <div class="row">
        <div class="mb-3">
            <h4><strong>登録情報</strong></h4>
        </div>
        <div class="col-md-3 offset-md-6">
            <%= link_to "編集する", customers_information_edit_path, class: "btn btn-outline-success" %>
        </div>
    </div>
    <div class="row">
        <table class="col-md-8 table table-bordered table-condensed">
            <tbody>
                <tr>
                    <td class="table-warning col-md-3">氏名</td>
                    <td class="text-left"><%= @customer.full_name %></td>
                </tr>
                <tr>
                    <td class="table-warning">カナ</td>
                    <td class="text-left"><%= @customer.full_name_kana %></td>
                </tr>
                <tr>
                    <td class="table-warning">郵便番号</td>
                    <td class="text-left"><%= @customer.postcode %></td>
                </tr>
                <tr>
                    <td class="table-warning">住所</td>
                    <td class="text-left"><%= @customer.address %></td>
                </tr>
                <tr>
                    <td class="table-warning">電話番号</td>
                    <td class="text-left"><%= @customer.phone_number %></td>
                </tr>
                <tr>
                    <td class="table-warning">メールアドレス</td>
                    <td class="text-left"><%= @customer.email %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mb-5">
        <div class="col-md-3 mt-3">
            <h5><strong>配送先</strong></h5><%= link_to "一覧を見る", shopping_addresses_path(@customer), class: "btn btn-primary" %>
        </div>
        <div class="col-md-3 offset-md-2 mt-3">
            <h5><strong>注文履歴</strong></h5><%= link_to "一覧を見る", orders_path(@customer), class: "btn btn-primary" %>
        </div>
    </div>
</div>