<div class='container'>
    <div class=“row”>
        <h4 class="col-md-3 mt-4 mb-4">
            <span style="background-color:#eee">注文情報入力</span>
        </h4>
        <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true do |f| %>
        <h4><strong>支払方法</strong></h4>
        <div class="col-5 ml-2">
            <%= f.radio_button :payment_method, 'credit_card' %>
            <%= f.label :payment_method, 'クレジットカード' %>
            
            <%= f.radio_button :payment_method, 'transfer' %>
            <%= f.label :payment_method, '銀行振込' %>
        </div>
        <h4 class="mt-3"><strong>お届け先</strong></h4>
        <div class="col-md-7 ml-2 mt-2">
            <%= f.radio_button :selected_address, "customer_address", checked: true %>
            <%= f.label :"ご自身の住所" %><br>
            <span class="ml-5">〒<%= current_customer.postcode %></span><br>
            <span class="ml-5"><%= current_customer.address %></span><br>
            <span class="ml-5"><%= current_customer.full_name %></span><br>
        </div>
        <div class="col-md-7 ml-2 mt-2">
            <%= f.radio_button :selected_address, 'shopping_address' %>
            <%= f.label :"登録済住所から選択" %><br>
            <span class="ml-5"><%= f.select :address_id, options_from_collection_for_select(current_customer.shopping_addresses, :id, :address_display) %></span>
        </div>
        <div class="col-md-3 ml-2 mt-2">
            <%= f.radio_button :select_address, "new_address" %>
            <%= f.label :"新しいお届け先" %><br>
        </div>
        <div class="col-md-10">
            <div class="mb-3">
                <%= f.label :"郵便番号（ハイフンなし）", class: "col-md-4" %>
                <%= f.text_field :postcode, placeholder: "0000000" %>
            </div>
            <div class="mb-3">
                <%= f.label :"住所", class: "col-md-4" %>
                <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class: "col-md-7" %>
            </div>
            <div class="mb-3">
                <%= f.label :"宛名", class: "col-md-4" %>
                <%= f.text_field :name, placeholder: "令和道子" %>
            </div>
        </div>
        <div class="text-center mb-3">
            <%= f.submit "確認画面へ進む", class:"btn btn-outline-primary" %>
        </div>
        <% end %>
    </div>
</div>